$primary: #4CAF4F;
$secondary: #4D4D4D;
$dark: #263238;
$line-height-lg: 1.3;
$light: #F5F7FA;
$font-family-sans-serif: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue","Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;



// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
//
// Import Bootstrap Icons w/ custom path to fonts folder
//
//@import "bootstrap-icons";/
//$bootstrap-icons-font-dir: "../node_modules/bootstrap-icons/font/fonts";
//@import 'node_modules/bootstrap-icons/font/bootstrap-icons.scss';



body {
  color: $secondary;
}

a {
  text-decoration: none;
  color: $white;
}

.form-control::placeholder {
  color: white;
  font-size: small;
  font-weight: lighter;
}

.card {
  font-size: 13px;
  max-width: 240px;
  &-title {
    font-size: 24px;
    font-weight: bold;
    color: $secondary;
  }
}

.badges {
  img {
    width: 40px;
  }
}

.tesla-image {
  max-width: 300px;
  height: 300px;
  background-image: url(../assets/tesla.jpg);
  background-position: center center;
  background-size: cover;
}

.info-card {
  width: 100%;
  &__img {
    max-width: 270px;
    height: 200px;
    margin: 0 auto;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $light;

    width: 235px;
    margin: -40px auto 0;
    border-radius: 5px;
    padding: 1.2rem;
    min-height: 150px;
    p {
      font-size: .9rem;
    }
  }
}

.ghost {
  color: $primary;
  text-align: right;
}

.info-cards {
  .info-card:nth-child(3) .info-card__img {
    background-image: url(../assets/computer.jpg);
  }
  .info-card:nth-child(2) .info-card__img {
    background-image: url(../assets/computer_giallo.jpg);
  }
  .info-card:nth-child(1) .info-card__img {
    background-image: url(../assets/donna-lettura.jpg);
  }
}
